# Day 2: Introduction to Data Types and Storage

Today, we will be going over the fundamentals of coding. These fundamentals are often very similar across coding languages, so those of you who have coded before may recognize the patterns.

We will start at the beginning with variables and work our way up to strings. This will be very helpful as we move onto writing functions, loops, and working with data in subsequent lessons. 


Goals for the day:
* Being able to do simple math or print in a cell
* Understand variables and data types
* Understand Booleans
* Begin using lists and indexing 
* Understand strings and string manipulation
* Begin using dictionaries
* Go over built in python functions
* HAVE FUN

## 1.0 Simple math and printing in a cell

In our **coding cell** we can type out some operations and see the results in the line below. You can run a cell by pressing **Shift + Enter** or **Ctrl + Enter**. I use **Shift + Enter** because it will bring your cursor onto the next line of code to be run. 

Some of the more complex math symbols are:

* `**` for exponentiation
* `//` for integer division
* `%`  for modulo operator

In [ ]:
2 + 4/7

In [ ]:
5*4 + 20

In [ ]:
3**2

We can print a sentence to the console:

In [ ]:
print("Hello World!")

## 2.0 Variables

This is fun, but doesn't get us very far unless you're trying to calculate a tip for your pizza delivery driver. When we want to work with data or start doing some calculations, we need to assign values to variables. 

Variables can be described as 'boxes' you assign a value to, or a reference to a certain value. This variable is then stored in the memory of Python for later use.

It's best practice to assign values to short and descriptive variables, and python has rules about naming.



*   Can contain only numbers, letters, and underscores. Must begin with a letter or underscore
*   Spaces are not allowed in variable names
*   Variable names are case sensitive
*   The code will not catch your spelling errors

In [ ]:
temp_c = 40

Notice how when we ran that line, nothing showed up. That's because it's being stored in the memory. We can `print` the variable using Python's built in function `print` to see the output:

In [ ]:
print(temp_c)

We can also change the variable to be something else, and it will overwrite the previous value:

In [ ]:
temp_c = 125
print(temp_c)

Python knows various types of data, the commonly used ones are:
*   Integer numbers
*   Floating point numbers
*   Strings

We just saw integer numbers where there is no decimal after `125`. This is an example of a floating point number

In [ ]:
temp_c = 15.5
print(temp_c)

This is an example of a string:

In [ ]:
temp_c_text = 'temperature in celcius:'
print(temp_c_text)

## 3.0 Commenting your code

Best practices when coding is leaving descriptive comments for yourself or collaborators. This becomes incredibly helpful when you have to come back to a script years later and you've forgotten completely what you've done. 

Using the notebook style for code can be helpful, but when you are building more complicated scripts it can get too messy. So we can comment code by putting a `#` symbol and Python will ignore anything after that

In [ ]:
temp_c = 100.0 # temperature in celcius
print(temp_c) # printing the temperature in celcius

# you can also take notes in your own code during this lesson

# it's best practice

## 4.0 Manipulating variables in Python

We can print multiple variables together:

In [ ]:
print(temp_c_text, temp_c)

We can do arithmetic on the variable and assign it to a new variable:

In [ ]:
temp_f = temp_c * (9/5) + 32 # converting temperature in celcius to fahrenheit
print(temp_c, temp_f)

You can assign multiple variables using multiple assignment:

In [ ]:
temp1, temp2, temp3 = 10,20,35 # setting the values for three different temperatures
print(temp3,temp2,temp1)

### 4.1 Coding is weird

So when coding, you can do a weird thing that doesn't work in math, where you can update a variable using that variable. For example, if I am trying to update a variable `x` to be `x+1`, I can write it as follows:

Note: I can do this all in one coding cell. So far we have only seen very short lines of code in one cell, but you can write big blocks of code and run it all together. 

I'm also using print() here multiple times so that I can show what the value of `x` as it gets updated in the cell

In [ ]:
x = 5
print(x)

x = x + 1 
print(x)

x = x + 1
print(x)

## 5.0 Coding check in 

Imagine you're at the gym and you are doing your bench press with weights in kilograms, but you want to write down your sets in lbs. Set three variables of weights in kg (ex. 5, 10, 25) and then convert it to weight in lbs (1 kg = 2.2 lbs). 

Note: you will convert them all separately.

Tip: If you are stuck, try with one weight first

*Note*: there are often several ways you can accomplish a task in coding, and there are many correct ways of doing things! If your code looks different from mine but you still get the right answer, that's great!

In [ ]:
# empty cell for you to type in the coding check in

# 1. set three weights in kg using different variable names


# 2. convert the weight in kg to lbs



# 3. print out the weight in lbs

## 6.0 Boolean variables

These are binary variables, which can be either true or false. We can use this as a tool to interrogate Python about our variables, and later we can use them in more complex ways (with `if statements` for example). 

There are several different tests we can do. These are including: 

* `==` if something is equal to
* `>` greater than
* `>=` greater than or equal to
* `<` less than
* `<=` less than or equal to
* `!=` not equal to

Let's set a temperature value and use Python to interrogate it!

In [ ]:
temp1 = 10

print(temp1)

Now we can ask if temp1 is greater than 0, to see what type of jacket we need to go outside in:

In [ ]:
temp1 > 0

We can ask if a certain value is **exactly equivalent** to some value using two equal signs. Notice this is different than our normal assignment operator, as it's like asking the question "is this equal to that":

In [ ]:
temp1 == 20

Let's try with another temperature variable, `temp5`, to see if this is above zero:

In [ ]:
temp5 > 0 # we are expecting an error, don't panic!

When we tried to interrogate `temp5`, notice we get the error: 'temp5' is not defined. That's because we've never defined temp5 to be anything. This is to give you an idea of the kinds of errors Python will give you. 

To see all the variables (and functions) you've created during this session, you can use the built in function `who`:

In [ ]:
who

## 7.0 Strings

There are a lot of built in ways to manipulate strings, which will come in very handy when working with data. We can get the length of the string, we can manipulate it, etc.

In [ ]:
my_string = "This is my string"
print(my_string)

The first thing we can do is to get the length of the string using the built in function `len`:

In [ ]:
len(my_string) # prints the length

Next, we can append a string onto another one by using a `+`:

In [ ]:
length_info = ' and it is long' # the space is important!
my_string + length_info

We can do more complex string manipulation using built in methods. These methods are attached to a certain type of object and can change the original object. The following methods only work on strings, for example.  In python, you can use a method by including a period after the object you want to run the method on, then the method `replace` and parentheses afterwards:
So the anatomy of how this will work is:

`object.method(arguments)`

In [ ]:
my_string.replace("string", "sentence") # replace one word with another

# object is my_string
# method is replace
# arguments are to replace "string" with "sentence"

That last command printed out the new string, but now we want to permanently change it to be the new one, so we update our variable `my_string` using `replace`

In [ ]:
print(my_string)

In [ ]:
my_string = my_string.replace("string","sentence")
print(my_string)

We can also split our string into several shorter ones, the defaul is to split it based on the spaces. This returns a list of four separate strings, and we will learn about lists after the check in!

In [ ]:
my_string.split() # split a longer string into several shorter ones

We can also make the string all upper case, lower case, or just the first letter of each word capitalized.

These can be very handy tools when you're working on data that has had many different people inputing information, who may be using different styles.

In [ ]:
print(my_string.upper()) # replace with all uppercase
print(my_string.lower()) # replace with all lowercase

In [ ]:
my_string.title() # capitalizes the first letter of each word

## 8.0 Coding check in

Create two strings with your name set up as "My name is [first name]" and " [last name]". Create a new string with them together together, then replace the last name to the celebrity crush of your choice, then print them out all caps.

I will be using Zac Efron for my celebrity crush (and I'm not afraid to admit it)

In [ ]:
## where you can put your coding check in code

# first string


# second string


# add them together


# replace last name and update the string


# yell it to the world in all caps!

## 9.0 Lists and indexing

### 9.1 What is a list?

Lists are ordered collections of values, which are separated by a comma. You can make lists of numbers, letters of the alphabet, booleans, or strings. The strings can include multiple different data types as well. First, let's make a list of animals:

In [ ]:
animals = ['cat', 'dog', 'squid', 'moose', 'falcon']
print(animals)

We can get the elements of the list through indexing, which starts at 0 and is limited by the length of the string. This is different from some other langages (e.g. R) which starts at 1.

In [ ]:
animals[0]

In [ ]:
animals[5] # there will be an error

We can also select certain elements of a list by using a colon `:`. The syntax is start:stop and does not include the stop value. So, if we do 1:5, we get index 1,2,3, and 4.

In [ ]:
animals[2:5] # slicing the index 2 through 5 to get 2,3,4

We can also do it so that we have either `start:` or `:end` where we don't specify the other value.
* `start:` all elements including and after this starting point
* `:end` all elements before this ending point

In [ ]:
animals[2:] # index 2 and on

In [ ]:
animals[:2] # everything before index 2

We can get the last element of the list by using -1:

In [ ]:
animals[-1]

List are also 'mutable', which means we can change elements of the list without impacting the others:

In [ ]:
print(animals) # printing to remember what they are
animals[1] = 'wolf' # changing the first index of the list
print(animals)

#### 9.2 Adding lists together

We can create a second list (of more animals) and then combine them using a `+`

In [ ]:
animals2 = ['spider', 'orca', 'squid']
my_favorite = animals + animals2
print(my_favorite)

We can add elements to the list using the method `append`

In [ ]:
my_favorite.append('llama')
print(my_favorite)

We can get the index (aka position) of an element in the string using `index`:

In [ ]:
my_favorite.index('moose') # getting the index of the value

We can count the number of times a number or string is in the list using `count`

In [ ]:
my_favorite.count('squid') # the number of occurances of the value in parentheses

We can reverse the string using `reverse`

In [ ]:
my_favorite.reverse() # this permanently reverses it
print(my_favorite)

We can also do some subsetting at a small scale, and Amanda and Maria will give you better ways to do this later on! We can take different elements and make them into a new list.

*Note*: This new variable is called a `tuple` and is not allowed to be changed. Google list vs. tuple if you want more information

In [ ]:
ocean_animals = my_favorite[1], my_favorite[2]
print(ocean_animals)

### 9.3 Coding check in (is it lunch yet?)

* Make a list of 5 foods. 
* Add another food to the end of the list
* Change the fifth food in the list to be something else
* Call up the first and last element and make a new variable with these in it.

In [ ]:
## where you can put your coding check in code

## 10.0 Dictionaries!

Dictionaries are unique data structures, which maps a key to a related values. So you can look for a key and get a value, this is useful for functions, reading in data, dataframe manipulation, and so much more. We might want to link together several values, and we can use the function `dict` and `zip` to combine them together:

In [ ]:
# list of keys
my_keys=['a','b','c']

# list of values 
my_values=[1,2,3]

#join the list using zip
alpha_num_dict=dict(zip(my_keys,my_values))

print(alpha_num_dict)

So now we have each key mapped to a value, so `a` is mapped to `1`, etc. We can also do this in fewer lines (if we don't have that much to write):

In [ ]:
### Dictionaries relate keys to values, you look for a key and get a value
## manually enter the keys and values to dict directly 
alpha_num_dict2=dict([('a',1),('b',2),('c',3)])
print(alpha_num_dict2)

This is useful because we can then use the key to call up a value using the method `get`:

In [ ]:
alpha_num_dict2.get('b')

## 11.0 Coding check in

Write a dictionary linking together your four closest friends and their favorite animals. You can do so by making a list of friends and a list of animals and then zipping them together. Then call up one of their favorite animals using their name!

In [ ]:
## here is where you can write your code for the coding check in

## 12.0 Built in functions

Some functions are already built into python, others you will have to load using packages. A function in mathematics, is an expression, rule, or law that defines a relationship between one variable (the independent variable) and another variable (the dependent variable).

In coding, the definition is similar. Functions are "self contained" modules of code that accomplish a specific task. Functions usually "take in" data, process it, and "return" a result.



You may have noticed that we are using the built in function `print` a lot. The `print` function is self contained code, that takes in `arguments` and returns the result. It's a pretty simple one that just returns the given input.

There are many vastly more complicated functions, which can be downloaded as packages, which we will go into far greater depth in future lessons!

We can use the `?` to ask Python to give us some more information on a function:

In [ ]:
?print

When using markdown/ notebook formats, the cell will only return the last action, so if you use several functions that return values, like `min` or `max`, it will only return the most recent one. By doing `print` it will print multiple things to the command line, to illustrate the answer.

In [ ]:
y = -15.75

abs(y) # this function takes in the value and returns the absolute value
round(y,1) # this function rounds y to 1st digit after the decimal. 

# This value 1 is a second argument to the function that says
# the number of digits you want after the decimal

# only returns the last thing we did, which was rounding

In [ ]:
y = -15.75

print(abs(y))
print(round(y,1))

# now we will see both answers

Lets try giving different arguments to the `round` function

In [ ]:
y = -15.75

print(round(y,0))
print(round(y,1))
print(round(y,2))
print(round(y,3))
print(round(y,-1)) # this means rounding to the tens place!

We can also use certain functions to perfom actions on a list of values:

In [ ]:
# for a list of numeric values, will not return anything useful for strings
x = [5,4,10,3,100]
print(max(x)) # largest value (input string, list, set, tuple, ...)
print(min(x)) # smallest value
print(sum(x)) # sum all values
print(len(x)) # length of list

Getting the length of a list is very important, and we will touch on it later when doing `for` loops! We can also perform examples of casting, which means to change the data type from one to another. We start with our value 5.5.

Examples of casting, which means changing the data type from one to another:

In [ ]:
x = 5.5

print(bool(x)) # to Boolean
print(complex(x)) # to complex number
print(float(x)) # to floating point
print(int(x)) # to integer
print(str(x)) # to string

The Boolean value means almost nothing and you can't really tell the last one is a string, but this can be very useful in your research, especially if your data gets read in as the wrong format (this definitely happens!)

Here is how to check the structure of a variable:

In [ ]:
# the first is a float value (a number)
print(type(x))

# we will now make it a string using str
y = str(x)
print(type(y))

print(y)

Most of these only work on numeric variables, but Python can also cast strings that include numbers to numeric values:

In [ ]:
x = "5.5"
print(type(x)) # checking the type of x

z = float(x)
print(type(z)) # checking the type of x after we hopefully converted it

## 13 Coding check in

I'll provide you with a list of heights. Find the max and the min for the list of heights. Then, see if you can find the mean value. There isn't a built in function for mean, but you have all you need with `sum` and `len`. 

Mutate the 3rd index to be someone very tall (85 inches?). How does that change the mean?

In [ ]:
### space to write check in

heights_inches = [59, 80, 64, 55, 74, 70, 45, 66, 54, 64, 60, 61, 70]

# Answers to the coding check ins

Don't look at these until I give you the answer! It really helps to try your best during the check ins and think the problem through on your own!

*Note*: there are often several ways you can accomplish a task in coding, and there are many correct ways of doing things! If your code looks different from mine but you still get the right answer, that's great!

### 5.1 Answer

In [ ]:
## NOTE: there are several ways you could have accomplished this
## everyones code always looks different, this is normal

weight1, weight2, weight3 = 5,10,25 # setting the value for three weights

conversion = 2.2 # I'm using a variable as a conversion to make sure I don't do a typo later

weight_lbs_1 = weight1*conversion # converting the weights from kg to lbs
weight_lbs_2 = weight2*conversion
weight_lbs_3 = weight3*conversion

print(weight_lbs_1, weight_lbs_2, weight_lbs_3) # printing out the weights

### 8.1 Answer

In [ ]:
name1 = 'My name is Katie ' # have to add the space after Katie
name2 = 'Dixon' # my last name

myname = name1 + name2 # adding my strings together
print(myname) 

myname = myname.replace('Dixon','Efron') # replacing my name with Efron in my string
print(myname)

### 9.4 Answer to coding check in

In [ ]:
## coding check in here!

foods = ['cheese','lettuce','onion','bread','ham'] # my string of foods
print(foods)

foods.append('pickle') # adding lettuce to the end of the list
print(foods)

foods[4] = 'turkey' # replacing the 5th item in the list with turkey
print(foods)

favorite_foods = foods[0], foods[5] # collecting the first and last item in the list
print(favorite_foods)

### 11.1 Answer (don't check until you've tried)

In [ ]:
# creating a list of people and a list of animals
friends = ["Katie", "Alex", "Maria", "Amanda"]
animals = ["Cheetah", "Falcon", "Penguin", "Dolphin"]

# zipping the two lists together to create a dictionary
animal_dictionary = dict(zip(friends,animals))

# get Maria's favorite animal
animal_dictionary.get('Maria')

## 13.1 Check in answer

In [ ]:
heights_inches = [59, 80, 64, 55, 74, 70, 45, 66, 54, 64, 60, 61, 70]

print(max(heights_inches)) # printing the max
print(min(heights_inches)) # the min

sum_heights = sum(heights_inches) # getting the sum of the heights
len_heights = len(heights_inches) # getting the number of heights

print(sum_heights/len_heights) # printing the mean 

heights_inches[3] = 85

# getting the mean again, don't need to update the length because we didn't change it

sum_heights = sum(heights_inches) # getting the sum of the heights
print(sum_heights/len_heights) # printing the mean