# Day 3: Introduction to loops and if statements in Python

Yesterday, we went over the important basics for coding languages, and we will be building off of them today.

Things we learned yesterday
* How to define a variable
* Boolean values that return a true or false
* Indexing a list, changing lists
* Using keys to call information from a dictionary
* What built in functions are

Today, we will be going over these tools that make automating your research easier. These tools are similar across coding languages as well. The first thing we will go through is `for loops`, which allow you to perform a process many times very quickly. 
The next thing we will be going through is `if statements`. These allow you to check conditions of interest, and then perform actions depending on whether they are true or false.

Goals for the day
* Go over Jupyter notebooks a little more in depth
* Learn more about floating points
* Go over an introduction to for loops
* Begin using if/else statements
* Learn elif statements
* Nesting if statements in a for loop

# Mini-lesson: Floating Point

## 0 Different "types" of numbers

There are two main python types for numbers: `int` and `float`

Type `int` are integers, such as 0, 1, 2, ..., 10, ...

Type `float` are numbers in their decimal form, such as 0.1, 1.1, 55.000000001, ...

`int` can be cast in `float` and vice versa.

Examples of both types are below:

In [ ]:
x = 1

# As a sanity check, we print the type for the variable x:
print(type(x))
print("x = {}".format(x))

In [ ]:
# We cast the integer stored in x to a float. 
x = float(x) # After running this line, the variable x now represents a floating point value and not an integer.

# Sanity check:
print(type(x))
print("x = {}".format(x))

In [ ]:
# When casting from float to int, the number gets truncated such that the decimal part is removed
print(int(3.2))
print(int(3.5))
print(int(3.8))

## 0.1 Floating point issues and limitations

There are times when the result of a calculation with floating points seems to defy what we've traditionally learned...

For example, what is the sum of 1.1 and 2.2?


Let's see what Python thinks...

In [ ]:
print("Does 1.1 + 2.2 = 3.3?")
print(1.1 + 2.2 == 3.3)

In [ ]:
print(1.1+2.2)

The above is a very classic floating point error, similar to the one we saw yesterday. 

What happened?

Floating-point numbers are implemented in computer hardware as binary fractions. Thus, most decimal fractions cannot be accurately stored.



As a default, python uses double-precision floating point. This means that 53 bits are used, so the otherwise infinite representation is rounded to 53 significant bits.


In your computer, `0.1` is stored as the following rounded **binary value**:
`0.0001100110011001100110011001100110011001100110011001101`. 

This binary value is then converted to the following **decimal value** when printed to the console: `0.1000000000000000055511151231257827021181583404541015625`, which is slightly greater than 0.1.

In [ ]:
print("0.1 to the 60th decimal place: {:.60f}".format(0.1))
print("0.1 to the 19th decimal place: {:.19f}".format(0.1))
print("0.1 to the 17th decimal place: {:.17f}".format(0.1))

The following is an example from yesterday:

In [ ]:
weight_kg = 25
conversion = 2.2

weight_lbs = weight_kg * conversion
print(weight_lbs)

In [ ]:
"55 to the 60th decimal place: {:.60f}".format(2.2*25)

## 1 For loops in python

You'll often want to run through all entries in a list and perform the same action on all of them. Useful examples are if you want to perform the same math operation a certain number of times or read in a number of files containing your data.

The mechanism of a for loop is that you specify a certain number of times to perform an action, and then it will perform some action that many times. 

The indentation on the second line is key, and tells Python what you want to do for each iteration. In this example, we create a list of fruits labelled `fruits`, which has three items in it. We can then step through each of these elements in the list by momentarily assigning it to an oject `item`, starting with the first element of the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for item in fruits:
  print(item)

The mechanics of what is happening here is that each sequential element in `fruits` is being assigned to the indexer `item` and that is being printed out. The colon at the end of the for line tells python where to start the loop, and includes anything that is indented after that line.
Now, something a little more complex:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for item in fruits:
  print("My favorite fruit is", item)
print('This string is not in the for loop')

The last thing the for loop assigned to the variable `item` will be the last thing in the list. The original list, `fruits`, will be unchanged:

In [ ]:
print(fruits) # printing our original list
print(item) # printing out the variable that is used in the for loop

One of the classic ways that scientists write for loops is to use the index `i` and then a range of values. Range is a built in function in python, that returns a list of sequential values by taking in in a starting point, a stopping point, and the step size. This range is important, because it tells the `for` loop where to start and when to stop. It starts at 1 and then it goes by 1 to 10 and **does not include 10**. First, we will examine what the list range looks like:

In [ ]:
?range

In [ ]:
for i in range(1,10,1): # from 1 to 10 (not including 10), step by one
  print(i)

We can change the step size that `range` is using by changing the last input we give to range. We can go from 1 to 100, instead with a step size of 10. So, it starts at 1, then jumps to 11, and so on. It doesn't include 101 because it is outside of the range:

In [ ]:
for i in range(1,100,10): # for 1 to 100 (not including 100), step by TEN
  print(i)

Now that we can see how the `i` and `range` work `for` loop works, we can use it to build a more complicated for loop. We initialize an empty list `squares`, and add each new value using the function `append`:

In [ ]:
squares = []
print(squares)

In [ ]:
squares = []

for i in range(1,10,1):
  squares.append(i**2)

print(squares)

What is happening here, is that i is momentarily being assinged a value within range. We can then perform an operation on that value (here an exponent) and then append the value to the empty list we created.

## 2 Coding check in 

The post doc in Katie's lab refuses to use Fahrenheit when discussing the temperatures outside in Chicago! She needs help calculating the temperature in Fahrenheit to Celsius for a range of values from -10 to 80! You can do this for every 10 degrees.

$C = (F - 32) * (5/9)$

[p.s. this is a real story].

Note: It also helps to write this out with words first, since Python pretty much works that way.

Hint: you will momentarily assign each fahrenheit value to `i`

In [ ]:
## This is where you can write your answer!

# set up empty list


# set up for loop with range (the range will be your fahrenheit values)



# print out your new array

### Another important way to write a for loop

Before moving on, I want to show another way to write a for loop if you already have some data. We can start with our `heights_inches` from yesterday and convert each height to meters using a for loop. This is similar to how our first example was written, but a more common way of writing it. We now set the range to step through each element of height, and then we call up that height and convert it to meters:

In [ ]:
heights_inches = [59, 80, 64, 55, 74, 70, 45, 66, 54, 64, 60, 61, 70]

heights_m = []

for i in range(0,len(heights_inches),1):
    heights_m.append(heights_inches[i]*2.54/100)
    
print(heights_m)

## 3 Combining our skills

You can also use dictionaries within for loops to perform more complicated actions. First, I'll explain a new concept, which is used for printing or reformating text.

### 3.1 `f-string`

The `f-string` is a new an improved way of formatting printed statements. They are more explicitely called “formatted string literals,” f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

You'll notice we used `format` earlier to format the output of the floating point cells. This is similar to that.

In [63]:
name = 'Katie'
age = 28

welcome = f"Hello, {name}. You are {age}."

print(welcome)

Hello, Katie. You are 28.

### 3.2 Dictionaries in a for loop 

I love the beach and the coast, so I'm looking at where I'd like to move for my postdoc position. For this example, I've collected the coastline in kilometers for a series of states, but I also want to know how many people I am going to have to compete with for a nice beach day-- I dislike crowded beaches! So I'm first going to define two dictionaries, one for the coastline for each state as the key and one for population size.

In [ ]:
states = ['Alaska', 'Florida', 'California', 'Hawaii','Louisiana','Delaware','Illinois']

coastline = [10690, 2170, 1350, 1210, 639, 45, 0]
population = [733391,21538187,39538223,1455271,4657757,989948,12812508]

coast_dict = dict(zip(states,coastline))
pop_dict = dict(zip(states,population))

print(coast_dict)
print(pop_dict)

Next, I'm going to use a for loop to calculate the per capita (per person) amount of coastline.

In [ ]:
for i in range(0,len(states)):
    state_coast = coast_dict[states[i]]
    state_pop = pop_dict[states[i]]
    
    pc_coast = round(state_coast/state_pop,7)

    print(f"{states[i]} has {pc_coast} km of beaches per capita ")

Great! I have my answers, but they're a little hard to interpret because they're so far down the decimal place. I'm going to instead convert my numbers to be per million people, instead of per one person.

In [ ]:
for i in range(0,len(states)):
    state_coast = coast_dict[states[i]]
    state_pop = pop_dict[states[i]]/1000000
    
    pc_coast = round(state_coast/state_pop,2)

    print(f"{states[i]} has {pc_coast} km of beaches per million people ")

**I guess I'm moving to Alaska!**

*Note*: This is not the best way of accomplishign this task, but hopefully helps cement the mechanics of `for loops` and `dictionaries`. Preferably we would have this data stored in a `.csv` or `.txt` instead of copying and pasting into the coding cell. There are also ways of doing this inside your data frame not using a for loop using `pandas`.

## 4 If/else statements

If statements are conditional tests that allow you to interrogate values and then perform actions if they are true or false. These are handy tools for cleaning up data and performing analysis. We will start small and work our way up. 

First, we will recall back to yesterdays exercise when we checked if something was true or not using the `==,>`, or `<` sign. There are several different tests we can do. These are including 

* `==` if something is equal to
* `>` greater than
* `>=` greater than or equal to
* `<` less than
* `<=` less than or equal to
* `!=` not equal to

In [ ]:
my_age = 28 # defining my age

my_age >= 18 # asking if this is greater than or equal to 18

So we set our age to be some value, and then we asked Python if that value was greater than or equal to 18, and it returned either `True` or `False`. We utilize an if statement to then perform some action.

So now, we can write a if statement that will print out a statement that we can vote if we are older than 18, and we cannot vote if we are younger than 18.

In [ ]:
my_age = 10

if my_age >= 18: # if my_age is greater than equal to 18
  print("You can vote!")
else:
  print("Maybe next year!")

### 4.1 Using `and` and `or`

You may also want to check multiple conditions, which can be done using the `and` and `or` conditions. In the case of `and`, both conditions must be true to pass. In the case of `or`, only one of them needs to be true to pass.

In [ ]:
my_animal = 'shark'
your_animal = 'shark'

if (my_animal == 'shark') and (your_animal == 'shark'):
  print("We both like sharks")
else:
  print("At least one of us does not like sharks")

We can also use `or` when testing conditions if only one of the things need to be true! For example, if I always keep a tally of the pastas in my pantry, I can check to see if I am ready to make pasta!

In [ ]:
gnocci = True
spaghetti = True
penne = False


if (gnocci == True) or (spaghetti == True) or (penne == True):
  print("We are ready to make pasta")
else:
  print("We have to go to the store to get some pasta")

In [ ]:
data = [15,20,30,25,'NaN']
print(data)

for i in range(0,len(data)):
    if (data[i] == 'NaN'):
        data[i] = 0
        
print(data)

In [ ]:
mean_data = sum(data)/len(data)
print(mean_data)

### 4.2 Coding Check in

It's the end of the fourth quarter the Tampa Bay Buccaneers are down 28-30 against the Cleveland Browns. They are too far away for a field goal, so Tom Brady (quarterback) is going to attemp a Hail Mary to Rob Gronkowski (Tight End). 

In order to get the touch down, Tom Brady needs to throw the ball at least 60 yards `and` Rob Gronkowski needs to be open. Write an `if` statement that tests whether Gronk can make the catch and prints out who wins. 

First, define your variables `brady_throw` to be some number, and `gronk_open` to be `True` or `False`. Then, test those conditions using your `if` statement.

Note: It helps to write this out in words first!

In [ ]:
### Write your code for the coding check in here

## 5 `elif` statements

Sometimes, there will be multiple situations you want to test at the same time. In this case, we use an `elif` statement, which tests another condition.

A key note here is that Python will only go on to the next `elif` statement if it fails the test, so the ordering of the statments is **very important**. This is similar to making a decision tree.

This situation might arise if you are an Illinois resident and you want to visit the Field Museum and get the all access pass so you can go to a 3D movie. There are different prices based on your age, so we need to have more than one test. We start at the youngest age and then work our way up. The last statement we have is the `else` statement, which gives all the people who didn't pass the other requirements their ticket price:

The order of events
* Ask if age is less than 3, admission is **free** if it is
* Ask if age is less than 11 (but older than 3 because it failed that test), admission is $\$27$ if it is
* Ask if age is older than 65 (but older than 11 because it failed that test), admission is $\$35$ if it is
* Everyone not fitting these categories, admission is $\$38$ for the rest

In [ ]:
age = 28

if age < 3: # first test
  print("Your admission is free") # take that baby to the Field to see some dinos!
elif age <= 11: # second test
  print("Your admission is $27")
elif age >= 65: # third test
  print("Your admission is $35")
else: # if all three tests fail
  print("Your Admission is $38")

### 5.1 Dictionaries and `f strings` in the `elif` statement.

This code is a little clunky and you have to hard code all the prices in the `if` statement. Recalling from our dictionaries from yesterday, we can instead use a dictionary and an `f string` to print it out specific prices in our `if` statement.

So we will first set up our dictionary named `field_dictionary`:

In [64]:
life_stages = ["baby", "child", "adult", "senior"]
admission = [0, 27, 38, 35]

field_dictionary = dict(zip(life_stages, admission))
print(field_dictionary)

{'baby': 0, 'child': 27, 'adult': 38, 'senior': 35}

We can use the function `get` and the key `child` to call up the price of admission for a child:

In [65]:
field_dictionary.get('child')

27

We can now use an `f string` to print these values together by setting the `admission_price` using the dictionary and then calling that inside curly brackets in the `f string`.

In [ ]:
admission_price = field_dictionary.get('adult') # use the key to get the admission price value

print(f"The cost of admission is ${admission_price}") # print out the correct admission price for each life stage

You can even save this to a variable called `new_string` that will `print` out the string with the correct admission price.

In [ ]:
admission_price = field_dictionary.get('adult') # use the key to get the admission price value

new_string= f"The cost of admission is ${admission_price}"

print(new_string)

So we can include this back in our original `if` statement:

In [ ]:
# create a dictionary for life stages and admission price
life_stages = ["baby", "child", "adult", "senior"]
admission = [0, 27, 38, 35]
field_dictionary = dict(zip(life_stages, admission))

# set our age we want to test
age = 90

# use our elif statements to tell us our price of admission
if age < 3:
  admission_price = field_dictionary.get('baby')
  print(f"The cost of admission for a baby is ${admission_price}")
elif age <= 11:
  admission_price = field_dictionary.get('child')
  print(f"The cost of admission for a child is ${admission_price}")
elif age >= 65: 
  admission_price = field_dictionary.get('senior')
  print(f"The cost of admission for a senior is ${admission_price}")
else: 
  admission_price = field_dictionary.get('adult')
  print(f"The cost of admission for an adult is ${admission_price}")

### 4.2 Coding check in!

You're running a pet grooming salon and you take in cats, dogs, and elephants but nothing else. Set a fair price for each of these animals using a dictionary. Set up a series of `if` and `elif` statements that tell the customer how much it will be to wash their pet. Make sure to tell them that if it's not a cat, dog, or elephant, you can't groom their animal!

In [ ]:
### space to put your code here!


## dictionary of animals and prices



# define your pet



# elif statements

## 5 Using `in` to test if a value is in a list

We can also use the test `in` to see if a value or string is in a list. We must go through the list by using a `for` loop, and then test the conditions of that using an if statements. This is an example of nesting an `if` statement within a `for` loop.

Imagine you are at an ice cream sundae shop and you're requesting flavors. We want to loop through out requested toppings to see if they are available at the shop. 

We first define the toppings available, then the toppings requested. Then we use a for loop to go through each of the toppings requested. If the topping in `toppings_requested` is in `toppings_available` it will print that it's adding the topping. If it is not available, it says we don't have that topping.

In [ ]:
toppings_available = ['sprinkles', 'fudge', 'whipped cream', 'bananas'] # the toppings available at the shop
toppings_requested = ['fudge', 'cherries', 'sprinkles'] # the toppings someone orders

for topping in toppings_requested: # for loop going through each of the requested toppings
  if topping in toppings_available: # checking to see if each topping is available
    print(f"Adding {topping}!")
  else: # if it is not available
    print(f"We don't have {topping}!")

## 6 Coding check in

Imagine you're at a local boutique and you want to buy a vase for a friend. Your friend is very picky about their colors, and you need to ask the store manager if she has any specific colors available.

Create a list of three colors that the store manager has (`colors_available`), and another list of three colors your friend might like (`colors_want`). Have the store manager respond with whether or not they have that color available for all the colors your friend might like.

In [ ]:
### coding check in here

# lists of colors available and colors you want



# for loop and if statement

# Answers to the coding check ins


### 2.1 Answer

In [ ]:
# set up empty array
celcius = []


# set up for loop with range
for i in range(-10,81,10):
  celcius.append((i -32) * (5/9))


# print out your new array
print(celcius)

### 3.2 Answer

In [ ]:
brady_throw = 70
gronk_open = False

if (brady_throw >= 60) and (gronk_open == True):
  print("They make the catch, Buccs win!")
else:
  print("They fail! Browns win!!!!")

In [ ]:
brady_throw = 55
gronk_open = True

if (brady_throw >= 60) and (gronk_open == True):
  print("Brady passes to Gronk for the Touch Down, Buccs win!!")
else:
  print("Brady and Gronk fail to make the pass, the Browns win the game!!")

# Let's go Brownies!
# there are several ways this could be written and be more complicated

### 4.2 Answer to coding check in!

In [ ]:
animals = ["cat", "dog", "elephant"]
price = [25, 50, 1000]

pet_grooming_dict = dict(zip(animals,price))


pet = "elephant"

if pet == "cat":
  wash_price = pet_grooming_dict.get("cat")
  print(f"The cost to wash your cat is ${wash_price}")
elif pet == "dog":
  wash_price = pet_grooming_dict.get("dog")
  print(f"The cost to wash your dog is ${wash_price}")
elif pet == "elephant":
  wash_price = pet_grooming_dict.get("elephant")
  print(f"The cost to wash your elephant is ${wash_price}")
else:
  print("We don't wash that species here")

### 6.1 Coding check in answer

In [ ]:
colors_available = ['red', 'blue', 'violet'] # the colors available from the store
colors_want = ['violet', 'pink', 'blue'] # the colors your friend might like

for color in colors_want: # for loop going through each of the requested toppings
  if color in colors_available: # checking to see if each topping is available
    print(f"We have a vase in {color}!")
  else: # if it is not available
    print(f"We don't have a vase in {color}!")